<div class="container" style="padding-top: 90px;">
<div class="row">
<aside class="col-md-3">
<h2>Coming Soon</h2>
<p>Stay tuned for future updates</p>
</aside>
<section class="main col-md-9">
<article>
    <h2>About</h2>
    <p>
        Hi! I am Harsimran and currently I am studying at Seneca Polytechnic College, Newnham Campus with Computer Programing Program. I am an international student and I live in Brampton, Ontario. I am in my third semester for this program. Since my childhood, I have been really interested in computers, so I decided to opt for this course. But I am also interested in Co-Curricular activities like indoor and outdoor games, gardening, singing, traveling, and going for a walk in my free time. These activities help boost my energy whenever I feel tired. I am an extrovert person who likes to interact with different people in college and at the workplace.
    </p>
</article>
</section>
</div>
</div>